body {
  min-width: 375px;
  background-color: #d7c7a4;
}
  
#nav {
  background-color: #616548 ;
}
.hero-img-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img-container img {
  max-width: 100%;
  height: auto;
}

#card {
  background-color: #978763a0;
  color: white;
  font-family: Avenir;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}
.card-text {
  text-transform: none;
}
h5 {
  color: #1c110c
}
#p-lead {
  color: rgb(66, 53, 4)
}
#pill {
  background-color: #a89d3692;
  border-radius: 5%
}
.happy-cows {
  color: #e23130;
  font-family: Avenir;
  text-transform: uppercase;
  font-weight: Bold;
  letter-spacing:  1px;
}
.discount {
  color: rgb(172, 244, 56);
}
.table-responsive {
  margin: auto;
  width: 90%;
}
.table-bordered tbody tr {
  border: 1px solid #dee2e6;
}
.table-bordered td.quantity-column {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}
.table-leather {
  background-color: #616548af;
  color: #fff;
}
a {
  text-decoration: none;
  color: white;
}

.future-card{
  background-color: brown;
  margin: 4px;
}

/* Small mobile devices (up to 479px) */
@media (max-width: 479px) {
  .hero-img-container img {
    width: 85%;
    height: auto;
  }
}

/* media queries */

/* Medium mobile devices (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  .hero-img-container img {
    width: 75%;
    height: auto;
  }
}

/* Large mobile devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .hero-img-container img {
    width: 65%;
    height: auto;
  }
}

/* Tablet devices (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-img-container img {
    width: 55%;
    height: auto;
  }
}

/* Small desktop screens (1200px to 1439px) */
@media (min-width: 1200px) and (max-width: 1439px) {
  .hero-img-container img {
    width: 45%;
    height: auto;
  }
}

/* Medium-sized desktop screens (1440px to 1679px) */
@media (min-width: 1440px) and (max-width: 1679px) {
  .hero-img-container img {
    width: 35%;
    height: auto;
  }
}

/* Large desktop screens and laptops (1680px and above) */
@media (min-width: 1680px) {
  .hero-img-container img {
    width: 5%;
    height: auto;
  }
}
;